<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery Cristiano Ronaldo</title>
    <link rel="stylesheet" href="/lab-express-basic-site/public/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/css/uikit.min.css" />
</head>
<body>
    <h1>Gallery de Cristiano Ronaldo</h1>
    <div class="gallery">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/8c/Cristiano_Ronaldo_2018.jpg" alt="Imagen 1">
        <img src="https://www.diez.hn/binrepository/1200x675/0c0/0d0/none/3014757/YMJM/cristiano-3_4699980_20230606212125.jpg" alt="Imagen 2">
        <img src="https://phantom-marca-mx.unidadeditorial.es/887fd9b0e45b9bc9accdd30de6708298/resize/828/f/jpg/mx/assets/multimedia/imagenes/2023/06/05/16859985858899.jpg" alt="Imagen 3">
      </div>
      <p uk-margin>
        <a href="/">
        <button class="uk-button uk-button-secondary uk-button-small">Regresa a home!</button>
        </a>
    </p>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/js/uikit-icons.min.js"></script>
</body>
</html>
