<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab Express site </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/css/uikit.min.css" />
</head>
<body>
    <nav class="uk-navbar-container">
        <div class="uk-container">
            <div uk-navbar>
    
                <div class="uk-navbar-left">
    
                    <ul class="uk-navbar-nav">
                        <li class="uk-active"><a href="/">Home</a></li>
                        <li>
                            <a href="#">Lab Express Site</a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li><a href="/about">About</a></li>
                                    <li><a href="/work">Work</a></li>
                                    <li><a href="/gallery">Photo Gallery</a></li>
                                </ul>
                            </div>
                        </li>
                        <!-- <li><a href="#">Item</a></li> -->
                    </ul>
    
                </div>
    
            </div>
        </div>
    </nav>

    <h1>Bienvenido a mi página</h1>

    <h2>EL mejor jugador para algunos... No se pone en duda nunca </h2>
    <img src="https://gifdb.com/images/high/cr7-shrugging-shoulders-567qcvszode47m4r.gif" alt="gifcr7" height="500" width="500">
    <p uk-margin>
        <a href="/about">
        <button class="uk-button uk-button-secondary uk-button-small">Conoce acerca de Cristiano Ronaldo</button>
        </a>
    </p>

<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/js/uikit-icons.min.js"></script>

</body>
</html>