<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work Cristiano Ronaldo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/css/uikit.min.css" />
</head>
<body>
    <article class="uk-article">

        <h1 class="uk-article-title"><a class="uk-link-reset" href="/work">Futbol de Cristiano</a></h1>
    
        <p class="uk-article-meta">Written by Luis Guillen on 7 June 2023.</p>
    
        <p class="uk-text-lead">«Aún recuerdo cuando mi maestra me decía que el fútbol no daba de comer»
            Cristiano Ronaldo</p>
    
        <h2>Futbolista</h2>
        <p style="text-align: justify;">
            Se crio en un barrio obrero y a los diez años lo descubrió el Sporting de Lisboa, Cristiano Ronaldo jugaba por entonces en el modesto Andorinha, club de su Funchal natal y en el que su padre trabajaba como utillero. Cuatro años después, acordó con su madre dedicarse exclusivamente al fútbol.
            Después Ronaldo pasó al Nacional y seis meses después este realiza la cesión de los derechos de Cristiano. 
            En 2001, el técnico del primer equipo, el rumano Laszlo Boloni, quiso que debutara ese mismo año, pero un test lo desaconsejó por no estar lo suficientemente trabajado. Un año después lo hacía debutar en la previa de la Champions ante el Inter
        </p>

        <h2>Real Madrid</h2>
        <p style="text-align: justify;">
            El 11 de junio de 2009 el Manchester United aceptó la oferta de 93,9 millones de euros del Real Madrid C.F. El traspaso de Cristiano Ronaldo se confirma el 26 de junio y se convirtió en el traspaso más caro de la historia del fútbol. El 6 de julio fue presentado en el Estadio Santiago Bernabéu ante 80.000 personas. 
            Debutó en el campo el 21 de julio con una victoria por 1-0 sobre el Shamrock Rovers. 
            Cristiano Ronaldo fue galardonado con un nuevo Balón de Oro el 7 de diciembre de 2017. El delantero portugués ganó el prestigioso galardón de la revista France Football por quinta vez en su carrera, en una ceremonia celebrada frente a la Torre Eiffel de París igualando así a Leo Messi, siendo ambos los dos futbolistas de la historia que más veces consiguieron este trofeo hasta la fecha, además de ser el segundo año consecutivo que Ronaldo ganó el trofeo, después de haberlo conseguido también en los años 2008, 2013, 2014 y 2016.
            Su etapa en el Real Madrid finalizó el 10 de julio de 2018. El delantero portugués, con 33 años, dijo adiós al club blanco tras nueve temporadas. </p>
            <br>
        <p style="text-align: justify;">
            Llegó en julio de 2009 y en julio de 2018 se marchó a Italia por 105 millones de euros para vestir la camiseta de la Juventus.
            Se puso fin así a una historia con 450 goles en 438 partidos con la camiseta del Madrid, acabando como el máximo realizador histórico del equipo madridista, logrando además dos Ligas, dos Copas del Rey, dos Supercopas de España, cuatro Champions, tres Supercopas de Europa y tres Mundialitos, para un total de 16 títulos.</p>
        
        </p>
            
        <div style="display: flex; justify-content: space-around;">
            <img src="https://media.tenor.com/o5g_JDyEXfQAAAAM/m3n-imaanbaz.gif" alt="">
            <img src="https://i.pinimg.com/originals/e1/aa/c2/e1aac26212caca512e2f1e8f763e8b1c.gif" alt="">
            <img src="https://68.media.tumblr.com/81113d92ca2b35fd8c3f450606e99f79/tumblr_o8a33jfWua1v0lsnco1_500.gif"  alt="">
        </div>
<!-- 
        <div style="text-align:right">
            <img src="https://i.pinimg.com/originals/e1/aa/c2/e1aac26212caca512e2f1e8f763e8b1c.gif" height="300" width="300"  alt="">
        </div> -->
        
        <p uk-margin>
            <a href="/">
            <button class="uk-button uk-button-secondary uk-button-small">Regresa a home!</button>
            </a>
        </p>

    </article>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.19/dist/js/uikit-icons.min.js"></script>
</body>
</html>